.nav {
   background: #fff;
   min-height: 77px;
   padding-top: 0px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
   background: #ff631b;
   height: 25px;
   padding: 0px 30px;
}

.logo-container {
   background: #ff631b;
   height: 77px;
   align-items: center;
}

.justify-content-end {
   padding: 0px 30px;
}

.nav-link {
   color: #002156 !important;
   padding: 0px 15px !important;
   transition: all 0.3s ease-in-out !important;
}

.nav-link:hover {
   color: #ff631b !important;
}

@media (min-width: 375px) {
   .nav-link {
      padding: 15px 15px !important;
   }
   .nav-link-container {
      align-items: center;
   }
   .hamburger {
      margin-right: 20px;
   }
   .navbar-toggler {
      background: #ff631b !important;
   }
}
